<ion-modal-view>
<ion-header-bar class="bar bar-header bar-calm">
  <h1 class="title">Yorumlar</h1>
  <button class="button button-clear" ng-click="close_modal()">X</button>
</ion-header-bar>
<ion-content class="padding">
  <ion-list>
  <ion-item class="item-avatar-left" ng-repeat="item in commentList">
    <img ng-src="{{item.accountInfo.profile_picture}}">
    <h2 ng-bind="item.accountInfo.nickname"></h2>
    <p ng-bind="item.text"></p>
  </ion-item>
</ion-list>

</ion-content>
<ion-footer-bar style="height:87px;">
 <div class="row row-bottom">
      <div class="col col-75">
          <label class="item item-input item-floating-label">
            <span class="input-label">Diyorum ki : </span>
            <input type="text" placeholder="Yorum Yap" ng-model="yorum.comment" name="yorumText" required>
          </label>
      </div>
      <div class="col"><button class="button button-full button-calm" ng-click="yorum_yap()">Yorum Yap</button></div>
    </div>
</ion-footer-bar>
</ion-modal-view>